<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>

    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="../img/favicon/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="../img/favicon/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <script src="https://kit.fontawesome.com/df4c82d5fe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>


    <header class="header-main">
        <nav class="header">
            <a class="header__logo" href=""><img src="../img/svg/logo.svg" alt="logo"></a>
            <ul class="header__nav">
                <li class="header__nav__item"><a class="header__nav__link" href="#">Home</a></li>
                <li class="header__nav__item"><a class="header__nav__link" href="#">About</a></li>
                <li class="header__nav__item"><a class="header__nav__link" href="#">Contents</a></li>
                <li class="header__nav__item"><a class="header__nav__link" href="#">Books</a></li>
                <li class="header__nav__item"><a class="header__nav__link" href="#">Education</a></li>
                <li class="header__nav__item"><a class="header__nav__link" href="#">Skills</a></li>
                <li class="header__nav__item"><a class="header__nav__link" href="#">Portfolio</a></li>
                <li class="header__nav__item"><a class="header__nav__link" href="#">Clients</a></li>
                <li class="header__nav__item"><a class="header__nav__link" href="#">Contact</a></li>
            </ul>
        </nav>



        <section class="block-book">
            <div class="wrap block-book__inner">
                <div class="book">
                    <div class="book__inner">
                        <p class="book__title">Good Book</p>
                        <span class="book__subtitle subtitle_green">
                            Don’t judge a book by its cover
                        </span>
                        <p class="book__author">- By Emma Anderson</p>
                    </div>
                </div>
                <div class="block-text">
                    <span class="block-text__author">- By Emma Anderson</span>
                    <h1 class="block-text__title title-h2 title-h2_white">BUKEE: THE BOOK</h1>
                    <span class="block-text__subtitle subtitle_green">
                        A room without books is like a body without a
                        soul
                    </span>
                    <p class="block-text__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p class="block-text__description">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. Sed ut

                    </p>
                    <a class="block-text__btn btn_green" href="#">
                        Buy this book - $15.00</a>
                    <small class="block-text__note">* Some conditions may applicable</small>
                </div>
            </div>
        </section>
    </header>
    <main>
        <section class="block-author">
            <div class="wrap block-author__inner">
                <div class="block-text">
                    <span class="block-text__author">- Book Author</span>
                    <h2 class="block-text__title title-h2">Emma Anderson</h2>
                    <span class="block-text__subtitle subtitle_green">
                        A room without books is like a body without a
                        soul
                    </span>
                    <p class="block-text__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p class="block-text__description">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum. Sed ut

                    </p>
                    <a class="block-text__btn btn_green" href="#">
                        Read full biography
                    </a>
                </div>
                <div class="block-author__photo">
                    <img src="../img/1.png" alt="">
                </div>
            </div>
            <div class="block-count wrap">
                <dl>
                    <dt>12</dt>
                    <dd>Total published books</dd>
                </dl>
                <dl>
                    <dt>5</dt>
                    <dd>Best selling books</dd>
                </dl>
                <dl>
                    <dt>15,000</dt>
                    <dd>Happy readers</dd>
                </dl>
            </div>
        </section>

        <section class="block-content">
            <div class="wrap ">
                <h2 class="block-content__title title-h2">Book Contents</h2>
                <span class="block-content__subtitle subtitle_green">
                    Let’s see what we have covered in the book
                </span>
                <div class="block-content__inner">
                    <div class="block-about">
                        <h3 class="block-about__title">About the book</h3>
                        <p class="block-about__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut
                            labore
                            et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris
                            nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillu m dolore eu fugiat nulla pariatur.
                        </p>
                        <div class="block-featured">
                            <p class="block-featured__title">Featured in:</p>
                            <ul class="block-featured__links">
                                <li class="block-featured__link">
                                    <a href="#"><i class="fab fa-stack-overflow"></i></a>
                                </li>
                                <li class="block-featured__link">
                                    <a href="#"><i class="fab fa-amazon"></i> </a>
                                </li>
                                <li class="block-featured__link">
                                    <a href="#"><i class="fab fa-sass"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="block-table">
                        <h3 class="block-table__title">Table of contents</h3>
                        <ol class="block-table__list">
                            <li class="block-table__item">Lorem ipsum dolor sit amet</li>
                            <li class="block-table__item">Consectetur adipisicing elit</li>
                            <li class="block-table__item">Labore et dolore magna</li>
                            <li class="block-table__item">Consectetur adipisicing elit</li>
                            <li class="block-table__item">Labore et dolore magna</li>
                            <li class="block-table__item">Lorem ipsum dolor sit amet</li>
                            <li class="block-table__item">Consectetur adipisicing elit</li>
                            <li class="block-table__item">Labore et dolore magna</li>
                            <li class="block-table__item">Consectetur adipisicing elit</li>
                            <li class="block-table__item">Labore et dolore magna</li>
                        </ol>
                        <button class="block-table__btn btn_green">More</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="block-other">
            <div class="wrap">
                <h2 class="block-text__title title-h2">Other Books</h2>
                <span class="block-text__subtitle subtitle_green">
                    Some books you might be interested in
                </span>

                <ul class="block-other__books">
                    <li class="other-book">
                        <div class="other-book__skin">
                            <p class="other-book__skin__title">Inception<span class="other-book__skin__sub">Books are
                                    the best friends</span></p>
                            <p class="other-book__skin__author">- By Emma Anderson</p>
                        </div>
                        <div class="other-book__text">
                            <h3>Inception</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore </p>
                            <a href="#">Read more</a>
                        </div>
                    </li>

                    <li class="other-book">
                        <div class="other-book__skin">
                            <p class="other-book__skin__title">Fight Club<span class="other-book__skin__sub">Books are
                                    the best friends</span></p>
                            <p class="other-book__skin__author">- By Emma Anderson</p>
                        </div>
                        <div class="other-book__text">
                            <h3>Fight Club</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore </p>
                            <a href="#">Read more</a>
                        </div>
                    </li>

                    <li class="other-book">
                        <div class="other-book__skin">
                            <p class="other-book__skin__title">Daredevils<span class="other-book__skin__sub">Books are
                                    the best friends</span></p>
                            <p class="other-book__skin__author">- By Emma Anderson</p>
                        </div>
                        <div class="other-book__text">
                            <h3>Daredevils</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore </p>
                            <a href="#">Read more</a>
                        </div>
                    </li>
                </ul>
                <a class="block-other__btn btn_green" href="#">Browse all books</a>
            </div>
        </section>

        <section class="block-coment">
            <div class="wrap">
                <blockquote>
                    <div class="block-coment__photo">
                        <img src="../img/max-felner-421525-unsplash.png" alt="">
                    </div>
                    <h3 class="block-coment__name">Kate Dennings<span>Calligraphy Expert</span></h3>
                    <p class="block-coment__feedback">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor
                        incididunt ut labore
                        et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis.</p>
                </blockquote>


                <div class="block-coment__slider">

                </div>
            </div>
        </section>

        <section class="block-events">
            <div class="wrap block-events__inner">
                <div class="block-text">
                    <span class="block-text__author">- Emma Anderson</span>
                    <h2 class="block-text__title title-h2">Upcoming Events</h2>
                    <span class="block-text__subtitle subtitle_green">
                        Some upcoming events you might be interested in
                    </span>
                    <ul class="events">
                        <li class="event">
                            <time class="event__date" datetime="2018-11-21">November 21, 2018</time>
                            <h3 class="event__name">Book signing - San francisco, CA</h3>
                            <p class="event__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis. </p>
                            <button class="event__btn btn_green">Register</button>
                        </li>

                        <li class="event">
                            <time class="event__date" datetime="2018-11-21">November 21, 2018</time>
                            <h3 class="event__name">Book reading - Los Angeles, CA</h3>
                            <p class="event__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do
                                eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo
                                viverra maecenas accumsan lacus vel facilisis. </p>
                            <button class="event__btn btn_green">Register</button>
                        </li>

                    </ul>

                </div>
                <div class="block-events__photo">
                    <img src="../img/2.png" alt="">
                </div>
            </div>

        </section>

        <section class="block-latest">
            <div class="wrap">
                <h2 class="block-text__title title-h2">Latest from Blog</h2>
                <span class="block-text__subtitle subtitle_green">
                    Some of the latest posts from my personal blog
                </span>
                <ul class="block-latest__list">
                    <li class="block-latest__item">
                        <img class="block-latest__photo" src="../img/img-1.png" alt="">
                        <h3 class="block-latest__title">Importance of light in photography</h3>
                        <p class="block-latest__author">By <span class="block-latest__author_green">Emma Anderson - June
                                20, 2018</span></p>
                        <p class="block-latest__text">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do
                            eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            gravida. Risus commodo</p>
                    </li>

                    <li class="block-latest__item">
                        <img class="block-latest__photo" src="../img/img-2.png" alt="">
                        <h3 class="block-latest__title">The tools you need for the perfection</h3>
                        <p class="block-latest__author">By <span class="block-latest__author_green">Emma Anderson - June
                                20, 2018</span></p>
                        <p class="block-latest__text">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do
                            eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            gravida. Risus commodo</p>
                    </li>

                    <li class="block-latest__item">
                        <img class="block-latest__photo" src="../img/img-3.png" alt="">
                        <h3 class="block-latest__title">Knowing the difference is important</h3>
                        <p class="block-latest__author">By <span class="block-latest__author_green">Emma Anderson - June
                                20, 2018</span></p>
                        <p class="block-latest__text">Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do
                            eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                            gravida. Risus commodo</p>
                    </li>

                </ul>
                <button class="block-latest__btn btn_green">Read more in the blog</button>

            </div>
        </section>
        <section class="block-join">
            <div class="wrap block-join__inner">
                <div class="block-join__text">
                    <h2 class="title-h2">Join Newsletter</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas
                        accumsan lacus vel facilisis.</p>
                </div>
                <form class="block-join__inputs" action="#">
                    <input placeholder="Enter your email" class="block-join__inputs__email" type="email" name="email"
                        id="email">
                    <input class="block-join__inputs__btn btn_green" type="submit" value="Subscribe">
                </form>
            </div>
        </section>
    </main>

    <footer class="footer-main">
        <div class="wrap footer-main__inner">
            <div class="footer-main__about-us">
                <img src="../img/svg/logo.svg" alt="logo">
                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>© 2018 Bukee Private Limited.</p>
            </div>
            <div class="footer-main__links">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="#"> About Bukee </a></li>
                    <li><a href="#"> Explore Our Ecosystem </a></li>
                    <li><a href="#"> Monthly Community Meetup </a></li>
                    <li><a href="#"> Privacy Policy </a></li>
                </ul>
            </div>
            <div class="footer-main__contacts">
                <h3>Our Contacts</h3>
                <p>Amphitheatre Parkway, CA, 94043</p>
                <p>Call us on: +4455663322</p>
                <p>Email: support@bukee.mail</p>
                <ul>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>