@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap')
* 
    margin: 0
    box-sizing: border-box;
    

body 
    font-family: 'Open Sans', sans-serif
    font-size: 10px
    overflow-x: hidden

.wrap
    max-width: 1100px
    margin: 0 auto
.bnt-primary
    font-family: 'Open Sans', sans-serif
    padding: 15px 43px
    color: #fff
    border-radius: 30px;
    background-color: #1085e4
    text-transform: uppercase
    letter-spacing: 2.4px
    border: 2px solid #1085e4
    font-weight: bold;
    transition-duration: 0.3s
    
.btn-secondary
    font-family: 'Open Sans', sans-serif
    padding: 15px 43px
    color: #cbdbe8
    border-radius: 30px;
    background-color: #f4faff
    text-transform: uppercase
    letter-spacing: 2.4px
    border: 2px solid #f4faff
    font-weight: bold
    transition-duration: 0.3s

.bnt-primary:hover
    color: #1085e4
    background-color: transparent
    cursor: pointer
.btn-secondary:hover
    border: 2px solid #1085e4
    background-color: transparent
    color: #1085e4
    cursor: pointer

h3 
    font-size: 50px;
    font-weight: 600
    line-height: 60px

.block__text
    width: 52%
    color: #7581a1;
    h3
        color: #06153b;
   
.block__sub
    margin-top: 30px
    font-size: 16px;
    color: #7581a1;
    line-height: 1.63

.gear:before
    content: ''
    display: block
    background: url(/image/forma-1.png)  #1085e4 no-repeat center;
    width: 60px;
    height: 60px;
    border-radius: 10px
    box-shadow: 0px 8px 16px 0 rgba(16, 133, 228, 0.4);
    position: relative
    bottom: 40px