@media screen and ( max-width: 1100px  )
  
    .laptop
        display: none
    .header-block_text 
        width: 100%
    .header-block-btn
        display: flex
        justify-content: center
        flex-wrap: wrap
    h1
        text-align: center
        font-size: 7vw
        padding: 0 20px
    h3  
        font-size: 4vw
        line-height: 4vw
        text-align: center
    .header-block
        margin-top: 20px
    .header
        padding: 10px 0 27px 0
    .header__nav__link
        display: none
    .header__nav
        position: sticky
        top: 0;
        z-index: 1000
        background-color: #FFF
        padding: 10px 0
    .block-sponsors__inner
        flex-wrap: wrap
        padding: 0 0 
        justify-content: space-around
        a 
            flex-basis: 45%
            text-align: center
            margin: 2.5%
    .header__nav
        padding: 5px 10px
    .bars
        display: inline-block
    .grab__block
        padding: 10px 0 20px
    .grab__block__inner
        justify-content: center
    .block__text
        flex-basis: 100%
        padding: 0 10px
    .grab__block__laptop
        display: none
    .gear::before
        display: none
    .block__fact
        padding: 20px 10px
    .block__fact__count 
        justify-content: space-around;
    .block-meet
        justify-content: center
        padding: 10px 0
    
    .block-meet__video
        display: none
    .block-meet__inner
        padding: 0 20px
    .block-meet__download
        justify-content: center
        img
            width: 100%
            position: relative
    .block-analytic:before
        display: none
    .block-graph
        background-color: #edf6ff
        padding: 30px 20px 20px
        .block__text
            flex-basis: 60%
        .bnt-primary
            display: block
            margin: 20px auto
    .block-graph_reverse
        background-color: #fff
    .block-graph__pick:before
        background-size: 40vw
    .pick-2:after
        display: none
    .block-graph:before
        display: none

    .block-analytic:after
        display: none
    .block-graph__pick:after
        display: none
    
    .block__client__inner
        padding: 20px 0px
   

@media screen and ( max-width: 900px )
    .grid-container
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a a" "b c" "d f " "h l" "e e";
        text-align: center
        padding: 20px 10px 10px 10px
    .block-graph__pick:before
        display: none
    .block__text
        flex-basis: 100% 
    .block-graph
        padding: 20px
        .block__text
            flex-basis: 100%
    .block-graph:before
        display: none


    .block__client__cards
        margin-top: 0
    .block__client
        background-color: #1085e4;

    .block__client__inner
    .block__client__inner:before
        display: none
    .block__client_card
        margin-top: 15px
        flex-basis: 100%
        display: flex
        justify-content: space-between
        align-items: center
        p
            width: 60%
            margin-right: 10px
    .plans-cards
        margin-top: 20px
    .plans-inner
        padding: 20px
    .team
        padding: 20px
    .team-card-social
        margin-top: 10px
        width: 100%       
    .team-card-photo
        box-shadow: 0px 0px 30px 0 rgba(156, 156, 156, 1);
    .sybmit-inputs-btn
        position: relative
        left: 50%
        transform: translateX(-50%)
    .sybmit-inner
        padding: 20px
    .sybmit-image
        display: none
    .sybmit-form
        flex-basis: 100%
    .sybmit-header
        text-align: center
@media screen and ( max-width: 735px )
    .robot
        display: none
    .subscribe_text 
        text-align: center
        flex-basis: 80%
    h3
        line-height: normal
        p
            margin-top: 10px

    .block_subscribe_inner
        justify-content: center
    .block__fact__count
        flex-wrap: wrap
    .fact_count
        margin-top: 10px
        flex-basis: 45%

    .plans-inner
        padding: 20px
    .plans-cards
        flex-wrap: wrap
        margin-top: 10px

    .plan-card
        padding: 20px
        flex-basis: 100%
    
    .plan-card-btn
        margin-top: 10px
    .plans-card-list li
        line-height: 1.5
    .team-card
        margin-top: 20px
        flex-basis: 100%
        padding: 20px 20px
    .team-card-photo
        position: relative
        width: 50%
        top: 0

    .team-card-social
        width: 60%
    .team:before,.team:after
        display: none
    .team
        background-color: #1a88e1;
        padding: 20px
@media screen and ( max-width: 500px )
    .header-block-btn
        button
            width: 100%
            padding: 5vw
            margin-top: 4vw
    
    h1 
        margin-bottom: 10px
        font-size: 12vw
    .block-sponsors__inner
        img
            width: 80%
    .grid-container
        grid-template-columns: 1fr ;
        grid-gap: 20px;
        grid-template-areas: "a" "b" "c" "d" "f" "h" "l" "e"

    .grid_item 
        img 
            position: absolute
            z-index: -1
            right: 10px
            width: 15%
        p 
            margin-top: 0px
            font-size: 16px


    .header__nav
        padding: 5px
        img
            width: 120px
    .bars
        padding: 5px 10px
        font-size: 22px
       
    h3
        font-size: 7vw

    .block__creenshot
        padding: 20px
    .plans-card-header
        font-size: 15vw
            
    .subscribe_inputs_email
        
        padding: 12px 120px 12px 15px
        border-radius: 35px;
        border: solid 2px rgba(255, 255, 255, 0.2)
        font-size: 12px

    .subscribe_inputs_syb 
        padding: 8px 9px
        position: absolute
        top: 4px
        right: 4px
        font-size: 11px
        letter-spacing: 1.1
    
    .block__client_card
        flex-wrap: wrap
        padding: 20px
        img     
            // display: none
        p 
            width: 100%
    .team-card-social
        margin-top: 10px
        width: 100%
    .sybmit-header
        font-size: 9vw   
